<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1>Cocktail</h1>
      <h2><%= @cocktail.name %></h2>
      <ul><% @cocktail.doses.each do |dose|%>
        <li><%= dose.description %></li>
        <li><%= dose.ingredient.name %></li> <br>
      <%end %>
      </ul>
       <%= link_to "Back to all cocktail", cocktails_path, class: 'btn btn-primary' %>
       <%= link_to "Add a new dose",  new_cocktail_dose_path(@cocktail), class: 'btn btn-primary' %>
    </div>
  </div>
</div>
